<div class="row">
    <div class="col-12">
        <img src="" alt="" class="ima-fluid">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle">Mange<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="#">shopping list</a></li>
            <li class="dropdown-item"><a href="#">edit Recipe</a></li>
            <li class="dropdown-item"><a href="#">Delete Recipe</a></li>
        </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-12">
        Ingredients
    </div>
</div>