<div class="row">
    <div class="col-10">
        <app-shopping-list-edit></app-shopping-list-edit>
        <hr>
        <ul class="list-group">
            <a 
            class="list-group-item d-flex justify-content-between" 
            style="cursor: pointer;"
            *ngFor="let item of ingredients; let i = index"
            (click)="edit(i)"
            >
            <span>{{ item.name }} : {{ item.amount }} unite</span>
            <button type="button" class="close" aria-label="Close" (click)="remove(i)" *ngIf="removeMode">
                <span aria-hidden="true">&times;</span>
              </button>
            </a>
        </ul>
    </div>
</div>