<div class="container">
  <div class="row d-flex justify-content-center">
    <h1 class="flex">hello <span class="text-danger"> olla</span></h1>
  </div>
  <app-header></app-header>
  <div class="row-12 d-flex btn-group mt-3 mb-3">
    <button class="btn btn-success" routerLinkActive="active" [routerLink]="['recipe']">Recipes</button>
    <button class="btn btn-success" routerLinkActive="active" [routerLink]="['Shopping-List']">Shopping List</button>
  </div>
  <router-outlet></router-outlet>
  <!--<app-recipes *ngIf=" viewMode === 'recipe' " ></app-recipes>
  <app-shopping-list *ngIf=" viewMode === 'shoppingList' " ></app-shopping-list>-->
</div>